/* Write your CSS here */
.repository-item {
  background-color: #f8f8ff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 220px;
  border-radius: 6px;
  box-shadow: 3px 3px 3px 3px #f8f8ff;
}
.repository-img {
  margin: 5px 0px 0px 0px;
  width: 100px;
  height: 100px;
}
.repository-name {
  color: #e73959;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 600;
}
.icon-container {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}
.repository-icons {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
