/* Write your CSS here */
.language-item {
  margin: 10px;
}
.item-btn {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 600;
  padding: 10px;
}
.active {
  border: solid 2px #0284c7;
  border-radius: 30px;
  min-width: 80px;
  color: #0284c7;
}
